
:root{
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --hover-text-color:#2196F3;
  --title-color:#212121;
  --secondary-text-color:#FFFFFF;
  --team-bg-color:#F5F4FA;
  --hero-bg-color:#2F303A;
  --footer-bg-color:#2F303A;
}
.nav-list{
margin: 0;
    display: flex;
    flex-wrap: wrap;
}
    
.footer{
background-color:var(--footer-bg-color);
}
.address-list{
  color:var(--secondary-text-color);
}