
:root{
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --hover-text-color:#2196F3;
  --title-color:#212121;
  --secondary-text-color:#FFFFFF;
  --team-bg-color:#F5F4FA;
  --hero-bg-color:#2F303A;
  --footer-bg-color:#2F303A;
}
body{
    font-family: var(--font-family);
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
}
.nav-logotype{
font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
color: #2196f3
}

.header-logo{
   color: #000;
}
.nav-list{
    display: flex;
    flex-wrap: wrap;
}
     
.header{
      display: flex;
    flex-wrap: wrap;
}
.heroSection{
background-color: var(--hero-bg-color);
}
.nav-list-link{
font-weight: 500;
letter-spacing: 0.02em;
color: #212121;
}
.nav-list-link:hover{
  color: var(--hover-text-color);
}

.contacts-link{
font-weight: 500;
letter-spacing: 0.02em;
color: #757575;
}
.contacts-link:hover{
  color: var(--hover-text-color);
}
.title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.heroSection-button{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3;
}

.features-title{
font-weight: 700;
text-transform: uppercase;
color: #212121;
}
.features-text{
line-height: 1.71;
color: #757575;
}
.headding{
font-weight: 700;
font-size: 36px;
text-align: center;
color: #212121;
}
.team-title{
font-weight: 500;
font-size: 16px;
text-align: center;
color: #212121;
}
.team-text{
font-size: 16px;
text-align: center;
color: #757575;
}
.nav-logo{
font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
color: #2196f3
}
.footer-logo{
     color: #fff;
}
.address-item{
line-height: 1.71;
color: #fff;
}
.address-email{
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}
.address-phone{
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}

.footer{
background-color:var(--footer-bg-color);
}
.address-list{
  color:var(--secondary-text-color);
}
